<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="base_xacro" params="x y z">
        <!-- 虚拟部件原点，贴合地面专用 -->
        <link name="base_footprint" />

        <!-- 基础链接 -->
        <link name="base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${x} ${y} ${z}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <!-- 碰撞属性 -->
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${x} ${y} ${z}"/>
                </geometry>
            </collision>
        <!-- 引入惯性和质量矩阵参数 -->
        <xacro:box_inertia m="3.5" w="${x}" h="${y}" d="${z}" />   
        </link>

        <joint name="base_footprint_joint" type="fixed">
            <parent link="base_footprint"/>
            <child link="base_link"/>
            <origin xyz="0 0 0.129" rpy="0 0 0"/>
        </joint>
    </xacro:macro> 
</robot>